// {{ ansible_managed }}
// https://www.icescrum.com/documentation/config-groovy-file/

icescrum.createDefaultAdmin = {{ icescrum_create_default_admin }}

// Data Source
dataSource.dialect = "org.hibernate.dialect.MySQL5InnoDBDialect"
dataSource.driverClassName = "com.mysql.jdbc.Driver"
dataSource.url = "jdbc:mysql://localhost:3306/icescrum?useUnicode=true&characterEncoding=utf8"
dataSource.username = "{{icescrum_db_user}}"
dataSource.password = "{{icescrum_db_password}}"

// Technical Setings
// Server URL
{% if icescrum_version == 'v6' %}
grails.serverURL = "{{ icescrum_url }}"
{%  endif %}
{% if icescrum_version == 'v7' %}
icescrum.serverURL="{{ icescrum_url }}"
{%  endif %}
// Logging
icescrum.debug.enable = false
icescrum.securitydebug.enable = false
// Working Directory
icescrum.baseDir = "{{ icescrum_install_dir }}"

{% if icescrum_mail_enable %}
// Mail server
grails.mail.host = "{{ icescrum_mail_host }}"
grails.mail.port = {{ icescrum_mail_port }}
grails.mail.username = "{{ icescrum_mail_username }}"
grails.mail.password = "{{ icescrum_mail_password }}"
{% if icescrum_mail_auth == 'SSL' %}
grails.mail.props = ["mail.smtp.socketFactory.class":"javax.net.ssl.SSLSocketFactory"]
{% elif icescrum_mail_auth == 'TLS' %}
grails.mail.props = ["mail.smtp.starttls.enable":"true"]
{% else %}
grails.mail.props = ["mail.smtp.auth":"false"]
{% endif %}
{% endif %}

{% if icescrum_ldap_enable %}
{{ icescrum_springsecurity_prefix }}.ldap.active = {{ icescrum_ldap_enable | lower }}
{{ icescrum_springsecurity_prefix }}.ldap.authorities.ignorePartialResultException = {{ icescrum_ldap_ignore_result_exception | default('false')}}
{{ icescrum_springsecurity_prefix }}.ldap.context.anonymousReadOnly = {{ icescrum_anonymous_no_connection | default('false') }}
{{ icescrum_springsecurity_prefix }}.ldap.context.managerDn = "{{ icescrum_ldap_manager_dn }}"
{{ icescrum_springsecurity_prefix }}.ldap.context.managerPassword = "{{ icescrum_ldap_manager_password }}"
{{ icescrum_springsecurity_prefix }}.ldap.context.server = "{{ icescrum_ldap_server }}"
{{ icescrum_springsecurity_prefix }}.ldap.search.base = "{{ icescrum_ldap_search_base | default('') }}"
{{ icescrum_springsecurity_prefix }}.ldap.search.filter = "{{ icescrum_ldap_search_filter | default('(uid={0})') }}"
{{ icescrum_springsecurity_prefix }}.ldap.search.searchSubtree = {{ icescrum_ldap_search_subtree| default('true') }}

icescrum.ldap.mapper.emailAttributeName = "{{ icescrum_ldap_attribute_mail | default('mail') }}"
icescrum.ldap.mapper.firstNameAttributeName = "{{ icescrum_ldap_attribute_first_name | default('givenName') }}"
icescrum.ldap.mapper.lastNameAttributeName = "{{ icescrum_ldap_attribute_last_name | default('sn') }}"
{% endif %}

{% if icescrum_version == 'v7' %}
icescrum.log.dir = "{{ icescrum_log_dir }}"
icescrum.registration.enable = false
icescrum.reportUsage.enable = false

//project
icescrum.project.creation.enable = {{ icescrum_project_creation_enable | default('true') }}
icescrum.project.export.enable = {{ icescrum_project_export_enable | default('true') }}
icescrum.project.import.enable = {{ icescrum_project_import_enable | default('true') }}
icescrum.project.private.default = {{ icescrum_project_private_default | default('false') }}
icescrum.project.private.enable = {{ icescrum_project_private_enable | default('true') }}

// Users
icescrum.gravatar.enable = {{ icescrum_gravatar_enable | default('false') }}
icescrum.registration.enable = {{ icescrum_registration_enable | default('true') }}
icescrum.invitation.enable = {{ icescrum_invitation_enable | default('false') }}
icescrum.login.retrieve.enable = {{ icescrum_login_retrieve_enable | default('true') }}
icescrum.sessionTimeoutSeconds = {{ icescrum_sessionTimeoutSeconds | default(1800) }}

// Alerts
icescrum.alerts.enable = {{ icescrum_alerts_enable | default('true') }}
icescrum.alerts.errors.to = {{ icescrum_alerts_errors_to | default('"dev@icescrum.org"') }}
icescrum.alerts.subject_prefix = {{ icescrum_alerts_subject_prefix | default('"[icescrum]"') }}
icescrum.alerts.default.from = "{{ icescrum_alerts_default_from | default('webmaster@icescrum.org') }}"
{% endif %}
