[Unit]
Description=Icescrum Service
After=syslog.target

[Service]
Type=simple
User={{ icescrum_user }}
ExecStart=/usr/bin/java -Xmx{{ icescrum_xmx }}{% if icescrum_xms is defined %} -Xms{{ icescrum_xms }}{% endif %}{% if icescrum_java_extra_args is defined %} {{ icescrum_java_extra_args }}{% endif %} -jar {{ icescrum_install_dir }}/icescrum.jar{%  if icescrum_maxpermsize is defined %} -XX:MaxPermSize={{ icescrum_maxpermsize }}{% endif %}{% if icescrum_scheme == 'https' %} httpsProxy=true{% endif %} host={{ icescrum_host }} port={{ icescrum_port }} context={{ icescrum_context }} workDir={{ icescrum_work_dir }}
{% if icescrum_env_vars is defined %}
{% for kv in icescrum_env_vars %}
Environment="{{ kv.key }}={{ kv.value }}"
{% endfor %}
{% endif %}

[Install]
WantedBy=multi-user.target
