# {{ ansible_managed }}
# https://www.icescrum.com/documentation/application-server/#application-server_2
#
CATALINA_OPTS="$CATALINA_OPTS -Dicescrum.log.dir={{ icescrum_log_dir }}"
CATALINA_OPTS="$CATALINA_OPTS -Duser.timezone={{ icescrum_timezone | default('UTC') }}"
CATALINA_OPTS="$CATALINA_OPTS -Dicescrum_config_location={{ icescrum_install_dir }}/config.groovy"
CATALINA_OPTS="$CATALINA_OPTS -Xmx{{ icescrum_xmx }}"
{% if icescrum_catalina_opts_xms is defined %}
CATALINA_OPTS="$CATALINA_OPTS -Xms{{ icescrum_xms }}"
{% endif %}
{% if icescrum_catalina_opts_maxpermsize is defined %}
CATALINA_OPTS="$CATALINA_OPTS -XX:MaxPermSize={{ icescrum_maxpermsize }}"
{% endif %}
{% if icescrum_java_extra_args is defined %}
CATALINA_OPTS="$CATALINA_OPTS {{ icescrum_java_extra_args }}"
{% endif %}
